:root {
  --primary-color: #005fff;
  --primary-color-alpha: #005fff1a;
  --elements-color: darkgray;
  --display-color: lightgrey;
  --operator-color: darkorange;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--display-color);
}

#root {
  height: 100%;
}
